<form [formGroup]="fbProduct" (ngSubmit)="addProduct()">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name" />
    <div class="alert alert-danger" *ngIf="name.invalid">
      <div *ngIf="name.errors!['required']">name is required !</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Price</label>
    <input type="text" class="form-control" formControlName="price" />
    <div class="alert alert-danger" *ngIf="price.invalid">
      <div *ngIf="price.errors!['pattern']">
        Price ne contient que des caractères numériques !
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">description</label>
    <input type="text" class="form-control" formControlName="description" />
    <div class="alert alert-danger" *ngIf="description.invalid">
      <div *ngIf="description.errors!['minlength']"></div>
    </div>
  </div>
  <div class="mb-3">
    <input
      type="submit"
      class="btn btn-primary"
      [disabled]="fbProduct.status == 'INVALID'"
    />
  </div>
  <button (click)="printConsole()">Print console</button>
</form>
